public
venv
docs
.build
chain/build
chain/contrib/depends/built
chain/contrib/depends/sources
chain/contrib/depends/work
chain/contrib/depends/x86_64*
chain/contrib/depends/riscv*
chain/contrib/brew
chain/external/randomx
chain/external/rapidjson
chain/external/trezor-common
chain/external/unbound
chain/external/miniupnp
chain/external/supercop
